.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todo {
  text-align: center;
}

.filterBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul {
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.completeTask {
  text-decoration: line-through;
  opacity: 0.5;
}

.activeTask  {
  font-weight: bold;
}

.activeFilterBtn {
  background-color: #6de76d;
  color: gold;
}

.filterBtns button {
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.errMsg {
  font-size: 10px;
  color: red;
}

.errInput {
  border: 2px solid red;
}